.container {
  min-width : 400px;
  margin : 10px 20px;
  padding : 20px;
  font-family: 'Rubik', sans-serif;
}
.topContainer {
  display : flex;
  align-items : center;
}

.bottomContainer {
  display : flex;
  align-items : center;
}

.buttonContainer {
  display : flex;
  justify-content : center;
  align-items : center;
  margin-right : 20px;
}