.header {
  display : flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size : 1.2rem;
  margin-bottom : 20px;
  position : relative;
  background-color : #5a556f;
}
.title {
  position : absolute;
}

.banner {
  height : 170px;
}